**.idea

# dependencies
**/node_modules
**/.pnp
.pnp.js

# testing
**/coverage

# next.js
**/.next/
**/out/

# production
**/build

# misc
**.DS_Store
**.pem

# debug
**npm-debug.log*
**yarn-debug.log*
**yarn-error.log*

# local env files
**.env
**.env*.local
**.env*.production
client/src/.env
server/src/.env
client/src/.env.production
server/src/.env.production

# vercel
**.vercel

# typescript
**.tsbuildinfo
**next-env.d.ts

# file
**/secrets/**
**/public/videos/**.mp4
/server/src/public/videos/*
**rock-drake-399814-9b8c1b3a2eef.json

