@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #1dad9b;
    --color-primary-dark: #346357;
    --color-primary-light: #9bf4d5;

    --color-secondary: #fcffc1;
    --color-secondary-dark: #b0bca0;
    --color-secondary-light: #f0f5c9;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-color: rgb(245 245 244);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

b, strong {
    font-weight: 600;
}

.masonry-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.masonry-item {
    position: relative;
}

.masonry-item img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #000;
    object-fit: cover;
}

@layer utilities {
    .webkit-box {
        display: -webkit-box;
    }
}

@layer utilities {
    @layer utilities {
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes float {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounceFadeIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideInTop {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20px);
    }
}

@keyframes slideOutBottom {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes swingDropIn {
    0% {
        transform: rotate(-30deg) translateY(-50px);

        opacity: 0;
    }
    100% {
        transform: rotate(0deg) translateY(0);

        opacity: 1;
    }
}

@keyframes moveIconRightToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-5px);
    }
}

@keyframes moveIconLeftToRight {
    0% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes movePanelRightToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes movePanelLeftToRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.group:hover .animate-spin {
    animation: spin 2s linear infinite;
}

.group:not(:hover) .animate-spin {
    animation: none;
}

.animate-pop {
    animation: pop 0.6s ease-out;
}

.animate-float {
    animation: float 0.6s ease-in-out;
}

.animate-bounceFadeIn {
    animation: bounceFadeIn 0.45s ease-out;
}

.animate-slideInTop {
    animation: slideInTop 0.6s ease-out;
}

.animate-slideOutLeft {
    animation: slideOutLeft 0.6s ease-out;
}

.animate-slideOutBottom {
    animation: slideOutBottom 0.6s ease-out;
}

.animate-swingDropIn{
    animation: swingDropIn 0.6s ease-out;
}

.animate-moveIconRightToLeft {
    animation: moveIconRightToLeft 0.3s ease-in-out forwards;
}

.animate-moveIconLeftToRight {
    animation: moveIconLeftToRight 0.3s ease-in-out forwards;
}

.animate-movePanelRightToLeft {
    animation: movePanelRightToLeft 0.45s ease-in-out forwards;
}

.animate-movePanelLeftToRight {
    animation: movePanelLeftToRight 0.3s ease-in-out forwards;
}

.custom-story-scrollbar::-webkit-scrollbar{
    display: none;
}



/*::-webkit-scrollbar {*/
/*    width: 8px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background-color: transparent;*/
/*}*/

/*::-webkit-scrollbar-track:hover {*/
/*    background-color: #fafafa;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    border-radius: 50px;*/
/*    background-color: rgb(128, 128, 128);*/
/*    !*background-image: linear-gradient(-45deg, lime, limegreen);*!*/
/*}*/

/*body{*/
/*    font-family: "Helvetica", sans-serif;*/
/*}*/

/*@font-face {*/
/*    font-family: "Helvetica-Bold";*/
/*    font-weight: 700;*/
/*    src: url("/public/fonts/Helvetica-Font/Helvetica-Bold.ttf") format("truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: "Helvetica-BoldOblique";*/
/*    font-weight: 700;*/
/*    font-style: italic;*/
/*    src: url("/public/fonts/Helvetica-Font/Helvetica-BoldOblique.ttf") format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: "Helvetica-Light";*/
/*    font-weight: 300;*/
/*    src: url("/public/fonts/Helvetica-Font/helvetica-light-587ebe5a59211.ttf") format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: "Helvetica-Oblique";*/
/*    font-style: italic;*/
/*    src: url("/public/fonts/Helvetica-Font/Helvetica-Oblique.ttf") format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: "Helvetica";*/
/*    font-weight: 400;*/
/*    src: url("/public/fonts/Helvetica-Font/Helvetica.ttf") format('truetype');*/
/*}*/

