@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #1dad9b;
    --color-primary-dark: #346357;
    --color-primary-light: #9bf4d5;

    --color-secondary: #fcffc1;
    --color-secondary-dark: #b0bca0;
    --color-secondary-light: #f0f5c9;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-color: rgb(245 245 244);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

b, strong {
    font-weight: 600;
}

@keyframes moveIconRightToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-5px);
    }
}

@keyframes moveIconLeftToRight {
    0% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes movePanelRightToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes movePanelLeftToRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.animate-moveIconRightToLeft {
    animation: moveIconRightToLeft 0.3s ease-in-out forwards;
}

.animate-moveIconLeftToRight {
    animation: moveIconLeftToRight 0.3s ease-in-out forwards;
}

.animate-movePanelRightToLeft {
    animation: movePanelRightToLeft 0.3s ease-in-out forwards;
}

.animate-movePanelLeftToRight {
    animation: movePanelLeftToRight 0.3s ease-in-out forwards;
}

.custom-story-scrollbar::-webkit-scrollbar{
    display: none;
}



/*::-webkit-scrollbar {*/
/*    width: 8px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background-color: transparent;*/
/*}*/

/*::-webkit-scrollbar-track:hover {*/
/*    background-color: #fafafa;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    border-radius: 50px;*/
/*    background-color: rgb(128, 128, 128);*/
/*    !*background-image: linear-gradient(-45deg, lime, limegreen);*!*/
/*}*/

/*body{*/
/*    font-family: "Helvetica", sans-serif;*/
/*}*/

/*@font-face {*/
/*    font-family: "Helvetica-Bold";*/
/*    font-weight: 700;*/
/*    src: url("/public/fonts/Helvetica-Font/Helvetica-Bold.ttf") format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: "Helvetica-BoldOblique";*/
/*    font-weight: 700;*/
/*    font-style: italic;*/
/*    src: url("/public/fonts/Helvetica-Font/Helvetica-BoldOblique.ttf") format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: "Helvetica-Light";*/
/*    font-weight: 300;*/
/*    src: url("/public/fonts/Helvetica-Font/helvetica-light-587ebe5a59211.ttf") format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: "Helvetica-Oblique";*/
/*    font-style: italic;*/
/*    src: url("/public/fonts/Helvetica-Font/Helvetica-Oblique.ttf") format('truetype');*/
/*}*/

/*@font-face {*/
/*    font-family: "Helvetica";*/
/*    font-weight: 400;*/
/*    src: url("/public/fonts/Helvetica-Font/Helvetica.ttf") format('truetype');*/
/*}*/

