@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #1dad9b;
    --color-primary-dark: #346357;
    --color-primary-light: #9bf4d5;

    --color-secondary: #fcffc1;
    --color-secondary-dark: #b0bca0;
    --color-secondary-light: #f0f5c9;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

ol, ul {
    list-style: none;
}

@keyframes moveIconRightToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-5px);
    }
}

@keyframes moveIconLeftToRight {
    0% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

.animate-moveIconRightToLeft {
    animation: moveIconRightToLeft 0.3s ease-in-out forwards;
}

.animate-moveIconLeftToRight {
    animation: moveIconLeftToRight 0.3s ease-in-out forwards;
}



